RADROOTS_GIT_URL=
RADROOTS_IOS_URL=
RADROOTS_ANDROID_URL=
RADROOTS_DESKTOP_URL=
RADROOTS_CLI_URL=
RADROOTS_CONTACT_URL=
LEPTOS_UI_KIT_ROOT=.local/tools/leptos-ui-kit
LEPTOS_UI_KIT_GIT_URL=https://github.com/triesap/leptos_ui_kit
LEPTOS_UI_KIT_REV=0b4dc59139a73294a02a95d47f571f87a0d0e077
LEPTOS_UI_KIT_PACKAGE=leptos_ui_kit_cli
