:root {
    font-family:
        "CommitMono",
        ui-monospace,
        SFMono-Regular,
        Menlo,
        Monaco,
        Consolas,
        "Liberation Mono",
        "Courier New",
        monospace;
}

body {
    margin: 0;
}

p {
    margin: 0;
}
